@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

.list-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 22px; /* Aumenta o tamanho da fonte */
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #141414;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-thumbnail {
  max-width: 100%;
  border-radius: 15px;
}
